body {
    margin: 0;
    font-family: Merriweather, serif;
}

.bg-img {
    background-color: lightgrey;
    background-blend-mode: multiply;
    background-image: url(media/main-photo-2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 100vw;
    position: relative;
    /*text-shadow: 2px 2px 2px rgb(0,0,0);*/
}


.navbar {
    background-color: transparent;
}

.navbar-toggler-icon {
    font-weight: bold;
}

#logo {
    height: 1.5rem;
}

#logo-2 {
    height: 2rem;
}

.welcome {
    font-weight: bolder;
}

/*@media (max-width: 768px) {*/
/*    .bg-image {*/
/*        min-height: 40vh;*/
/*    }*/
/*    text-class {*/
/*        font-size:calc(1.525rem + 3.3vw);*/
/*    }*/
/*}*/


#About-Us {
    font-family: Merriweather;
}

.h2 {
    font-weight: bold;
}

.eventsOne {
    color: white;
    minimum-height: 8rem;
    background-color: #425382;
}

.eventsTwo {
    color: black;
    minimum-height: 8rem;
}

img {
    margin: 1rem 0;
}

#sunday-img, #gamenight-img {
    transform: rotate(-4deg);
}


#midweek-img, #camp-img {
    transform: rotate(4deg);
    border: #425382;
}

#map {
    text-decoration: none;
    color: white;
}