body {
    margin: 0;
    font-family: Merriweather, serif;
    overflow-x: hidden;
}

.bg-img {
    background-color: lightgrey;
    background-blend-mode: multiply;
    background-image: url(media/main-photo-2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 100%;
    position: relative;
    /*filter: blur(3px);*/
    /*text-shadow: 2px 2px 2px rgb(0,0,0);*/
}


.navbar {
    background-color: transparent;
}


#logo {
    height: 1.5rem;
}

#logo-2 {
    height: 2rem;
}

.welcome {
    font-weight: bolder;
    font-size: 2.5rem;
}

.welcome p {
display: block;
}

/*@media (max-width: 768px) {*/
/*    .bg-image {*/
/*        min-height: 40vh;*/
/*    }*/
/*    text-class {*/
/*        font-size:calc(1.525rem + 3.3vw);*/
/*    }*/
/*}*/


.h2 {
    font-weight: bold;
}

.eventsOne {
    color: white;
    min-height: 8rem;
    background-color: #425382;
    image-shadow: 2px 2px 2px rgb(0,0,0);
}

.eventsTwo {
    color: black;
    min-height: 8rem;
}

img {
    margin: 1rem 0;
}

#sunday-img, #gamenight-img {
    transform: rotate(-4deg);
    display: inline-block;
    filter: drop-shadow(-10px -10px 4px white);
}

#sunday-img {
    filter: grayscale(100%) drop-shadow(-10px -10px 4px white);
    filter: drop-shadow(-10px -10px 4px white);
}

#midweek-img, #camp-img {
    transform: rotate(4deg);
    border: #425382;
}

.icons {
    height: 2rem;
}

#map {
    text-decoration: none;
    color: white;
}

footer {
background-color: #424242;
}