body {
    margin: 0;
}

.bg-image {
    background-color: lightgray;
    background-image: url('https://picsum.photos/1200/860');
    background-size: cover;
    min-height: 80vh;
    width: 100vw;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    text-shadow: 2px 2px 2px rgb(0,0,0);
}

@media (max-width: 768px) {
    .bg-image {
        min-height: 40vh;
    }
    text-class {
        font-size:calc(1.525rem + 3.3vw);
    }
}