body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.bg-img {
    background-blend-mode: multiply;
    background: lightgray url(media/main-photo-2.JPG) no-repeat right;
    background-size: cover;
    min-height: 70vh;
}

.navbar {
    background-color: transparent;
}

#logo {
    height: 1.5rem;
}

#logo-2 {
    height: 2rem;
}

.welcome {
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 4px 4px 4px #425382;
    margin-top: 3rem;
}

.welcome p {
display: block;
}

.verse {
    font-weight: bold;
    max-width: 45vw;
    text-shadow: 3px 3px 3px black;
    color: white;
    margin-top: 3rem;
    border: ridge white;
}

.who-are {
    margin: 6rem 0;
    font-size: 1.2rem;
}

.h2 {
    font-weight: bold;
}

.eventsOne {
    color: white;
    min-height: 8rem;
    background-color: #425382;
    border: thick double black;
}

.eventsTwo {
    color: black;
    min-height: 8rem;
}

img {
    margin: 1rem 0;
}

#sunday-img, #gamenight-img {
    transform: rotate(-4deg);
    display: inline-block;
    filter: drop-shadow(-10px 10px 4px black);
}

#sunday-img {
    filter: grayscale(100%) drop-shadow(-10px 10px 4px black);
}

#midweek-img, #camp-img {
    transform: rotate(4deg);
    filter: drop-shadow(10px 10px 4px #425382);
}

.upcoming {
    border: thick ridge black;
    min-height: 20rem;
}

td {
    padding-left: 2rem;
}

.icons {
    height: 2rem;
}

#map {
    text-decoration: none;
    color: white;
}

footer {
background-color: #424242;
}