body {
    background-color: tan;
    color: black;
    font-family: Arial;
    margin-top: 0;
}

h2 {
    text-align: center;
}

div {
    padding-bottom: 1rem;
}

h3 {
    display: inline;
    text-decoration: underline;
}

p {
    display: inline;
}