body {
    margin: 0;
    font-family: Merriweather, serif;
}

.bg-img {
    background-color: lightgrey;
    /*background-blend-mode: multiply;*/
    background-image: url(./opening-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 100vw;
    position: relative;
    text-shadow: 2px 2px 2px rgb(0,0,0);
}


.navbar {
    background-color: transparent;
    text-color: white;
}

.welcome {
    font-weight: bolder;
}

/*@media (max-width: 768px) {*/
/*    .bg-image {*/
/*        min-height: 40vh;*/
/*    }*/
/*    text-class {*/
/*        font-size:calc(1.525rem + 3.3vw);*/
/*    }*/
/*}*/


#About-Us {
    font-family: Merriweather;
}

.eventsOne {
    color: white;
    minimum-height: 8rem;
}

.eventsTwo {
    color: black;
    minimum-height: 8rem;
}

#midweek-img {
    height: 20rem;
    width: 20rem;
}