body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.bg-img {
    background-blend-mode: multiply;
    background: lightgray url(media/main-photo-2.jpg) no-repeat right;
    background-size: cover;
    min-height: 70vh;
}

.navbar {
    background-color: transparent;
    text-shadow: 4px 4px 4px black;
}

li.nav-item:hover {
    background: linear-gradient(cornflowerblue, midnightblue);
    border-radius: 25% 10%;
    max-width: 8rem;
    padding-left: auto;
    padding-right: auto;
}

#logo {
    height: 1.5rem;
    filter: drop-shadow(3px 3px 3px black);
}

#logo-2 {
    height: 2rem;
}

.welcome {
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 4px 4px 4px black;
    margin-top: 3rem;
}

.welcome p {
display: block;
}

.verse {
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    color: white;
    max-width: 500px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: ridge white;
    backdrop-filter: blur(10px);
}

.verse p {
    margin: 0.4rem;
}

.who-are {
    margin: 6rem 0;
    font-size: 1.2rem;
}

.h2 {
    font-weight: bold;
}

.eventsOne {
    color: white;
    text-shadow: 3px 3px 3px black;
    min-height: 8rem;
    background-color: #014f86;
    border: thick double black;
}

.eventsTwo {
    color: black;
    min-height: 8rem;
}

img {
    margin: 0.5rem 0;
}

#sunday-img, #gamenight-img {
    transform: rotate(-4deg);
    display: inline-block;
    filter: drop-shadow(-10px 10px 4px black);
}

#sunday-img {
    filter: grayscale(100%) drop-shadow(-10px 10px 4px black);
}

#midweek-img, #camp-img {
    transform: rotate(4deg);
    filter: drop-shadow(10px 10px 4px black);
}

.upcoming {
    border: thick ridge black;
    min-height: 20rem;
}

td {
    padding-left: 1rem;
}

.row2 {
    background-color: rgba(217, 234, 246, 0.7);
}

.icons {
    height: 2rem;
}

#map {
    text-decoration: none;
    color: white;
}

#map:hover {
    color: cornflowerblue;
}

footer {
background-color: #424242;
}