body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    background: #f3f4f4;
}

.bg-img {
    background-blend-mode: multiply;
    background: #DEDDDDFF url(media/main-photo-2.jpg) no-repeat right;
    background-size: cover;
    min-height: 70vh;
}

#sunday-bg {
    background-blend-mode: multiply;
    background: #6d7070 url(media/sundays.jpg) no-repeat right;
    background-size: cover;
    min-height: 60vh;
    filter: grayscale(100%);
}

.navbar {
    background-color: transparent;
    text-shadow: 4px 4px 4px black;
}

.navbar-brand p{
    max-width: 30vw;
    overflow-wrap: break-word;
}

li.nav-item:hover {
    background: linear-gradient(cornflowerblue, midnightblue);
    border-radius: 25% 10%;
    max-width: 8rem;
}

#logo {
    height: 1.5rem;
    filter: drop-shadow(3px 3px 3px black);
}

#logo-2 {
    height: 2rem;
}

.welcome {
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 4px 4px 4px black;
    margin-top: 3rem;
}

.title {
    font-weight: 800;
    text-shadow: 4px 4px 4px black;
    min-height: 20vh;
    margin-bottom: 15vh;
    font-size: clamp(3.5rem, 12vw, 5rem)
}

.welcome p {
display: block;
}

.verse {
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    color: white;
    max-width: 500px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: ridge white;
    backdrop-filter: blur(10px);
}

.verse p {
    margin: 0.4rem;
}

.txt-img {
    font-size: 3rem;
    text-shadow: 4px 4px 4px black;
    margin-top: 3rem;
}

.who-are {
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: roboto;
    /*border: thick double black;*/
}

.h2 {
    font-weight: bold;
}

#announcements {
    background: linear-gradient(#014f86, #013659);
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 1rem white);
}

.eventsOne {
    color: white;
    text-shadow: 3px 3px 3px black;
    min-height: 8rem;
    background: linear-gradient(#014f86, #003b62);
    filter: drop-shadow(0 0 2rem black);
}

.eventsTwo {
    color: black;
    min-height: 8rem;
}

img {
    margin: 0.5rem 0;
}

.upcoming {
    border: thick ridge black;
    min-height: 20rem;
    background: white;
}

td {
    padding-left: 1rem;
}

.row2 {
    background-color: rgba(217, 234, 246, 0.7);
}

.icons {
    height: 2rem;
}

#map {
    text-decoration: none;
    color: white;
}

#map:hover {
    color: cornflowerblue;
}

footer {
background-color: #424242;
}